nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 60px;
  background-color: rgb(223, 209, 191);
}
.buscador {
  width: 150px;
  height: 40px;
}
#fav {
  margin: 0;
}
#up-product {
  margin: 0;
}
#imagen-productos {
  display: block;
  margin: auto;
  width: 40%;
  border: 6px solid aqua;
}

.propiedades {
  margin-top: 20px;
  text-align: center;
}
.categorias li {
  float: left;
  list-style: none;
}
.card-body{
  display: flex;
  justify-content: space-between;
}

#reseñas {
  padding: 10px;
  margin: 20px;
  border: 2px solid black;
}
li {
  list-style: none;
}
