nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 60px;
  background-color: rgb(223, 209, 191);
}
.buscador {
  width: 150px;
  height: 40px;
}
#fav {
  margin: 0;
}
#up-product {
  margin: 0;
}
#imagen-productos {
  display: block;
  margin: auto;
  width: 40%;
  border: 6px solid aqua;
}

.propiedades {
  margin-top: 20px;
  text-align: center;
}
.categorias li {
  float: left;
  list-style: none;
}
.card-body{
  display: flex;
  justify-content: space-between;
}


.custom-card {
 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  overflow: hidden; 
  text-align: center;
  margin: 15px;
}

.custom-card:hover {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card .btn {
  background-color: white;
  color:grey;
  border: 1px solid grey;
}

.custom-card .btn:hover {
  background-color: grey;
  border-color:grey;
}

.custom-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card .card-text {
  font-size: 1rem;
  color: #555;
}

.custom-card .card-img-top {
  border-radius: 8px;
}

.custom-card {
  text-align: center;
  margin: 15px;
}


.custom-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card .card-text {
  font-size: 1rem;
  color: #555;
}

.custom-card .card-img-top {
  border-radius: 8px;
}

